@-moz-document domain("togetter.com") {

/*	Togetter「あなたが興味ありそうなまとめ」PR削除 v1.0.0
	・まとめ記事下部の「＝あなたが興味ありそうなまとめ＝」欄でまとめに交じってくるPR（広告）を非表示
	・各項目の周囲の空白を調整してレイアウト崩れを回避
*/
:root
{
	--w: 24%;
	--r: calc((100% - var(--w) * 4) / 4 / 2);
}
div._popIn_recommend_article:nth-child(n)
{
	margin: 0 var(--r) 10px;
	width: var(--w);
}
div._popIn_recommend_article_ad
{
	display: none;
}

}