/* ==UserStyle==
@name			Togetter「興味ありそう」内の広告削除
@description	記事下部の「＝あなたが興味ありそうなまとめ＝」欄でまとめに交じってくる広告を非表示
@namespace		https://github.com/Phroneris
@version		1.0.3
@author			森の子リスのミーコの大冒険（Phroneris）
@homepageURL	https://github.com/Phroneris/Stylus
@supportURL		https://github.com/Phroneris/Stylus/issues
@updateURL		https://github.com/Phroneris/Stylus/raw/master/usercss/togetter_no-recommend-ads.user.styl
@license		CC0-1.0
@preprocessor	stylus
==/UserStyle== */

/* ==ChangeLog==

	2019/06/20 v1.0.3
	* @updateURLを`*.styl`に変更

	2019/02/22 v1.0.2
	* リポジトリ整理に伴い@updateURLを修正

	2019/02/21 v1.0.1
	* このChangeLogを追加
	* UserCSS化（たとえオプションを使わないとしても、編集と導入説明が楽なので）

*/

@-moz-document domain("togetter.com")

	w = 24%
	r= (100% - w * 4) / 4 / 2
	div._popIn_recommend_article:nth-child(n) // レイアウト崩れ回避
		margin: 0 r 10px
		width: w
	div._popIn_recommend_article_ad
		display: none;


