/* ==UserStyle==
@name			Togetter「興味ありそう」内の広告削除
@description	記事下部の「＝あなたが興味ありそうなまとめ＝」欄でまとめに交じってくる広告を非表示
@namespace		https://github.com/Phroneris
@version		1.1.0
@author			森の子リスのミーコの大冒険（Phroneris）
@homepageURL	https://github.com/Phroneris/StylusUserCSS-Phroneris
@supportURL		https://github.com/Phroneris/StylusUserCSS-Phroneris/issues
@updateURL		https://github.com/Phroneris/StylusUserCSS-Phroneris/raw/master/usercss/togetter_no-recommend-ads.user.styl
@license		CC0-1.0
@preprocessor	stylus
==/UserStyle== */

/* ==ChangeLog==

	2021/02/03 v1.1.0
	Togetterから該当の箇所がなくなっていたので、このUserCSSの提供を終了します。

*/


