/* ==UserStyle==
@name			YouTubeLiveコメント一覧カスタム
@description	YouTubeLiveコメント一覧のパーツ削除、高さ変更、ユーザー名省略（マウスオーバーで表示）など
@namespace		https://github.com/Phroneris
@version		1.1.0
@author			森の子リスのミーコの大冒険（Phroneris）
@homepageURL	https://github.com/Phroneris/StylusUserCSS-Phroneris
@supportURL		https://github.com/Phroneris/StylusUserCSS-Phroneris/issues
@updateURL		https://github.com/Phroneris/StylusUserCSS-Phroneris/raw/master/usercss/youtubelive_comment-list.user.styl
@license		CC0-1.0
@preprocessor	stylus
==/UserStyle== */

/* ==ChangeLog==

	2020/02/03 v1.1.0

	ファイル名を誤字っていたのに気付きました。何だよyouyubeって。
	お引越しのために、下記の正しいファイルURLを開いてください。
	https://github.com/Phroneris/Stylus/raw/master/usercss/youtubelive_comment-list.user.styl
	開くと、最新の（誤字ってない）ユーザーCSSを直ちに再インストールできます。

	誤字ってる名前の方のファイル（今開いているこれ）も、引き継ぎ用にしばらくは残しておきますが、いずれ消します。
	気付き次第、早急にお引越しください。

*/


